tkinter==0.1.0         # For the graphical user interface
joblib==1.3.0          # To load the trained model
scikit-learn==1.2.2    # For model training and prediction (Random Forest, Logistic Regression, etc.)
numpy==1.25.2          # For numerical computations
pandas==2.0.3          # For data manipulation
matplotlib==3.7.1      # For data visualization
seaborn==0.12.2        # For enhanced data visualization
